docs/n8n-workflow-apac.json

{
  "name": "APAC Generation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apac-gerar",
        "options": {}
      },
      "id": "webhook-apac",
      "name": "Webhook APAC",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "apac-gerar"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tipo }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.pacienteId }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.cns }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://backend:5000/api/apac/gerar",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "tipo",
              "value": "={{ $json.tipo }}"
            },
            {
              "name": "pacienteId",
              "value": "={{ $json.pacienteId }}"
            },
            {
              "name": "cns",
              "value": "={{ $json.cns }}"
            },
            {
              "name": "cid10",
              "value": "={{ $json.cid10 }}"
            },
            {
              "name": "procedimento",
              "value": "={{ $json.procedimento }}"
            },
            {
              "name": "unidadeId",
              "value": "={{ $json.unidadeId }}"
            },
            {
              "name": "profissionalId",
              "value": "={{ $json.profissionalId }}"
            },
            {
              "name": "dataInicio",
              "value": "={{ $json.dataInicio }}"
            },
            {
              "name": "dataFim",
              "value": "={{ $json.dataFim }}"
            },
            {
              "name": "observacoes",
              "value": "={{ $json.observacoes }}"
            }
          ]
        }
      },
      "id": "call-backend",
      "name": "Call Backend API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 200]
    },
    {
      "parameters": {
        "operation": "move",
        "sourcePath": "={{ $json.arquivoPdf }}",
        "destinationPath": "/files/{{ $json.competencia }}/{{ $json.numero }}.pdf"
      },
      "id": "save-pdf",
      "name": "Save PDF File",
      "type": "n8n-nodes-base.files",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "subject": "APAC Gerada - {{ $json.numero }}",
        "emailType": "text",
        "message": "APAC gerada com sucesso!\n\nNúmero: {{ $json.numero }}\nTipo: {{ $json.tipo }}\nPaciente: {{ $json.paciente.nome }}\nCompetência: {{ $json.competencia }}\n\nO arquivo PDF foi salvo no sistema.",
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"numero\": $json.numero, \"message\": \"APAC gerada com sucesso\" } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Dados obrigatórios não fornecidos\", \"message\": \"Verifique os campos obrigatórios\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-validation",
      "name": "Error Validation",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error || \"Erro interno\", \"message\": $json.message || \"Erro ao processar APAC\" } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-processing",
      "name": "Error Processing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook APAC": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call Backend API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend API": {
      "main": [
        [
          {
            "node": "Save PDF File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save PDF File": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
